body {
  background: url("../images/pokeimg.jpg")no-repeat center center fixed;
  opacity: 0.4;
  background-attachment: fixed;
  background-size: cover;
}
  
  p {
    font-weight: inherit;
    font-size: 20px;
  }
  
  h1 {
    font-weight: 700;
    font-size: 40px;
  }
  
  h5 {
    font-weight: 700;
    font-size: 28px;
  }
  
  .pokemon-list {
    list-style-type: none;
    margin-top: 85px;
  }
  
  .pokemon-picture {
    width: 100px;
    float: left;
    }
  
    .footer {
      text-align: center;
      color: white;
    }

    .modal-title {
      text-transform: uppercase;
    }

    button {
      text-transform: uppercase;
    }

    .list-group-item {
      background-color: rgb(134, 134, 214);
      color: black;
      font-weight: bolder;
    }

   